@model List<ALittleLeaf.ViewModels.OrderDetailViewModel>
@section Styles {
    <link rel="stylesheet" href="~/css/order-detail.css">
}
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
}
<!--------------------------------------------LAYOUT-CART----------------------------------------------------->
<div class="layout-cart">
    <div class="container-fluid">
        <div class="nav-header-wrap">
            <div class="nav-header">
                <ol>
                    <li>
                        <a asp-controller="Home" asp.action="Index">
                            <span>Trang chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li>
                        <a asp-controller="Account" asp.action="Index">
                            <span>Tài khoản</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li class="active">
                        <span>
                            <span>Chi tiết đơn hàng</span>
                        </span>
                        <meta itemprop="position" content="3">
                    </li>
                </ol>
            </div>
        </div>
        <div class="cart-page">
            <div class="heading-page">
                <div class="header-page">
                    <h1>Chi tiết đơn hàng</h1>
                </div>
            </div>
            <div class="cart-content-wrap">
                <div class="cart-container">
                    <div class="main-content-cart">
                        <div class="display-items">
                            <table class="table-cart">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="line-item-container">
                                            <td class="image">
                                                <div class="product-img">
                                                    <a href="">
                                                        <img src="~/img/prdImg/@item.ProductImg" alt="@item.ProductName">
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="item">
                                                <a asp-controller="Collections" asp.action="Index" asp-route-categoryId="@item.IdCategory">
                                                    @item.ProductName
                                                </a>
                                                <p>
                                                    <span>@item.UnitPrice.ToString("N0")₫</span>
                                                </p>
                                                <div class="qty-click">
                                                    <input type="text" size="4" min="1" data-price="@item.UnitPrice" value="@item.Quantity" class="item-quantity" disabled>
                                                </div>
                                                <p class="price">
                                                    <span class="text">Thành tiền</span>
                                                    <span class="line-iem-total">@item.TotalPrice.ToString("N0")₫</span>
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-others">
                            <div class="order-actions-wrap">
                                <p class="order-infor">
                                    Tổng tiền
                                    <span class="total-price">
                                        <b id="total-cart">@Model.Sum(m => m.TotalPrice).ToString("N0")₫</b>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>