@{
    var cart = ViewData["cart"] as List<ALittleLeaf.ViewModels.CartItemViewModel>;
    var totalProducts = 0;
    foreach(var item in cart)
    {
        totalProducts += item.Quantity;
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/cart.css" />
}
@section HeadScripts {
    <script src="~/js/cart_function.js" defer></script>
}
@{
    ViewData["Title"] = "Giỏ hàng";
}
<!--------------------------------------------LAYOUT-CART----------------------------------------------------->
<div class="layout-cart">
    <div class="container-fluid">
        <div class="nav-header-wrap">
            <div class="nav-header">
                <ol>
                    <li>
                        <a asp-controller="Home" asp.action="Index">
                           <span>Trang chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li class="active">
                        <span>
                            <span>Giỏ hàng (@totalProducts)</span>
                        </span>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
        </div>
        <div class="cart-page">
            <div class="heading-page">
                <div class="header-page">
                    <h1>Giỏ hàng của bạn</h1>
                    <p class="count-cart">
                        Có <span>@totalProducts sản phẩm</span> trong giỏ hàng
                    </p>
                </div>
            </div>
            <div class="cart-content-wrap">
                @if (cart.Count == 0)
                {
                    <div class="notifications">
                    Giỏ hàng của bạn đang trống
                    <p class="link-continue">
                        <a href="~/collections" class="button dark">
                            <button>
                                <i class="fa fa-reply"></i>
                                    TIẾP TỤC MUA HÀNG
                            </button>
                        </a>
                    </p>
                    </div>
                }
                else
                {
                <div class="cart-container">
                    <div class="main-content-cart">
                        <form action="~/Cart/GetCartNote" id="cartformpage" method="post">
                            <div class="display-items">
                                <table class="table-cart">
                                    <tbody>
                                            @foreach (var item in cart)
                                            {
                                                // Hiển thị thông tin sản phẩm trong giỏ hàng
                                        <tr class="line-item-container">
                                            <td class="image">
                                                <div class="product-img">
                                                    <a asp-controller="Product" asp.action="Index" asp-route-productId="@item.ProductId" asp-route-idCategory="@item.IdCategory">
                                                        <img src="~/img/prdImg/@item.ProductImg" alt="@item.ProductName">
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="item">
                                                <a asp-controller="Product" asp.action="Index" asp-route-productId="@item.ProductId" asp-route-idCategory="@item.IdCategory">
                                                    @item.ProductName
                                                </a>
                                                <p>
                                                    <span>@String.Format("{0:N0}₫", item.ProductPrice)</span>
                                                </p>
                                                <div class="qty-click">
                                                    <button type="button" class="qtyminus qty-btn" data-product-id="@item.ProductId">-</button>
                                                    <input type="text" size="4" min="1" data-price="@item.ProductPrice" value="@item.Quantity" class="item-quantity" data-product-id="@item.ProductId">
                                                    <button type="button" class="qtyplus qty-btn" data-product-id="@item.ProductId">+</button>
                                                </div>
                                                <p class="price">
                                                    <span class="text">Thành tiền</span>
                                                    <span class="line-item-total">@String.Format("{0:N0}₫", item.ProductPrice * item.Quantity)</span>
                                                </p>
                                            </td>
                                            <td class="remove">
                                                <a href="#" class="remove-from-cart" data-product-id="@item.ProductId">
                                                    <ion-icon name="close-outline"></ion-icon>
                                                </a>
                                            </td>
                                        </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart-others">
                                <div class="note-wrap">
                                    <div class="checkout-note">
                                        <textarea name="BillNote" id="note" cols="50" rows="8" placeholder="Ghi chú"></textarea>
                                    </div>
                                </div>
                                <div class="order-actions-wrap">
                                    <p class="order-infor">
                                        Tổng tiền
                                        <span class="total-price">
                                            <b id="total-cart">@String.Format("{0:N0}₫", ViewBag.TotalPrice)</b>
                                        </span>
                                    </p>
                                    <div class="cart-buttons">
                                        <a href="~/collections">
                                            <button type="">
                                                <i class="fa fa-reply"></i>
                                                TIẾP TỤC MUA HÀNG
                                            </button>
                                        </a>
                                        <button type="submit" id="checkout" class="btn-checkout" name="checkout">
                                            Thanh toán
                                        </button>
                                    </div>
                                </div>
                            </div
                        </form>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>