<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/39b6b90061.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    @RenderSection("HomeStyle", required: false)
    @RenderSection("LoginRegisterStyle", required: false)
    @RenderSection("CollectionsStyle", required: false)
    @RenderSection("ProductStyle", required: false)
    @RenderSection("SearchStyle", required: false)    
    @RenderSection("AccountStyle", required: false)

    <link rel="stylesheet" href="~/css/cart-search.css">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/img/footerLogo.webp">
    <script src="~/js/showCartSearch.js" defer></script>
    <script src="~/js/showSubMenu.js" defer></script>
    @RenderSection("ProductJs", required: false)
    @RenderSection("LoginRegistryJs" , required: false)
    <script src="~/js/validLoginAndRegistry.js" defer></script>
</head>
<body>
    <div id="main-body">
        <!--------------------------------------------HEADER----------------------------------------------------->
        @Html.Partial("_Header");
        <!--------------------------------------------CONTENT----------------------------------------------------->
        @RenderBody()
        <!--------------------------------------------FOOTER----------------------------------------------------->
        @Html.Partial("_Footer");
    </div>
    @Html.Partial("_SideNav");
</body>
missing @RenderSection("scripts", required: false)
</html>