@model IEnumerable<ALittleLeaf.ViewModels.BillViewModel>

<div class="customer-table-bg">
    @if(ViewBag.NoBills != null)
    {
        <p>Bạn chưa đặt mua sản phẩm</p>
    }
    else
    {
        <p class="title-detail"> Danh sách các đơn hàng </p>
        <div class="table-wrap">
            <table class="table">
                <thead>
                <th class="order-number text-center">Mã đơn hàng</th>
                <th class="date text-center">Ngày đặt</th>
                <th class="total text-center">Thành tiền</th>
                <th class="payment-status text-center">Trạng thái thanh toán</th>
                <th class="fulfillment-status text-center">Vận chuyển</th>
                <th class="order-detail text-center">Chi tiết đơn hàng</th>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                    }
                    @foreach (var bill in Model)
                    {
                        <tr class="order">
                            <td class="text-center">
                                <a href="#">@count</a>
                            </td>
                            <td class="text-center">
                                <span>@bill.DateCreated.ToString("dd/MM/yyyy")</span>
                            </td>
                            <td class="text-center">
                                <span class="total-money">@bill.TotalAmount.ToString("N0")₫</span>
                            </td>
                            <td class="text-center">
                                <span class="status-@bill.PaymentStatus">@bill.PaymentStatus</span>
                            </td>
                            <td class="text-center">
                                <span class="status-@bill.ShippingStatus">@bill.ShippingStatus</span>
                            </td>
                            <td class="text-center">
                                <span class="detail-@bill.ShippingStatus">
                                    <a asp-controller="OrderDetail" asp-action="Index" asp-route-billId="@bill.BillId">Chi tiết</a>
                                </span>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    }        
</div>